LLM_BASE_URL=
CHAT_MODEL=
LLM_API_KEY=
PUTER_API_KEY=
USER_PROFILE={"id":"","firstName":"","lastName":"","age":"","ethnicity":"","gender":"","bio":"","imageUrl":"","myersBriggsPersonalityType":""}
PROFILE_INITIALIZATION_STATUS=YES/NO
LOOKING_FOR_GENDER=MALE/FEMALE/NON_BINARY
ETHNICITIES=
MIN_AGE=
MAX_AGE=
PIXAZO_API_KEY=
LLM_TIMEOUT=
LLM_MAX_RETRY=
DATASOURCE_PASSWORD=
DATASOURCE_USERNAME=
DATASOURCE_URL=